.productGrid {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 2px;
  margin: 0px 0px 2rem;
}
@media screen and (max-width: 600px) {
  .productGrid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    align-self: center;
    gap: 2rem;
    margin: 0px 0px 2rem;
  }
}
